.section-container {
    display: flex;
    justify-content: center;
}

.inner-container {
    max-width: 50%;
    border: 1px solid #FFFFFF56;
}

@media (max-width: 768px) {
    .inner-container {
        max-width: none;
    }
}