.section-container {
    display: flex;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: row;
    max-width: 80rem;
    max-height: 80vh;
}

.img-large {
    position: relative;
    width: auto;
    max-height: 75vh;
    border-radius: 1rem;
    box-shadow: -.5rem .5rem 1rem #00000056;
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: justify;
    overflow-y: auto;
    padding: 1rem;
    max-height: 75vh;
}

h1 {
    text-align: center;
}

p {
    text-indent: 2rem;
    margin-bottom: 1rem;
}

.img-small,
.img-large {
    display: none;
}

@media (max-width: 768px) {
    .inner-container {
        flex-direction: column;
        padding: 1rem;
    }

    .img-small {
        display: block;
        width: 100%;
        border-radius: .5rem;
        box-shadow: -.5rem .5rem .5rem #00000021;
    }

    .img-large {
        display: none;
    }

    .text-box {
        width: auto;
        max-height: none;
    }

}

@media (min-width: 769px) {
    .img-small {
        display: none;
    }

    .img-large {
        display: block;
    }
}